---
import Layout from "../layouts/Layout.astro";
import CounterAstro from "../components/CounterAstro.astro";
import Counter from "../components/Counter.jsx";
import Time from "../components/Time.jsx";
---

<Layout title="SolidJS Counter in Astro">
  <main>
    <h1>Welcome to Astro with SolidJS</h1>

    <CounterAstro />
    <Counter client:load />

    <p>Blocking, 5s request in progress...</p>

    <Time client:load />

    Done!
  </main>
</Layout>
